  <!doctype html>
 <html ng-app="customersApp">
<head>
     <title>Filtering Data </title>
     </head>
     <body ng-controller="customersController"> 
             <h1>Customers</h1>
            Filter:<input type="text" ng-model="customerFilter.name" />
            <br />
            <table>
                <tr>
                    <th ng-click="doSort('name')"> Name</th>
                    <th ng-click="doSort('city')"> City</th>
                    <th ng-click="doSort('orderTotal')"> Order Total</th>
                    <th ng-click="doSort('joined')"> Joined</th>
                </tr>
                <tr ng-repeat="cust in customers |  filter: customerFilter | orderBy: sortBy:reverse ">
        <!--    The filters are used here-->
                <td>{{ cust.name |uppercase }}</td>     
                <td>{{cust.city}}</td>
                <td>{{ cust.orderTotal | currency:'Rs '}}</td>
        <!--                                                         longdate-->
                <td>{{ cust.joined | date: 'yyyy-MM-dd'}}</td> 
                </tr>
            </table>
            <br />
            <span>Total Customers : {{ customers.length}}</span>
             <script src="angular.min.js"></script>
             <script src="controllers/app.js"></script>
              <script src="controllers/customerController.js"></script>
     </body>
</html>
 