 <h2>History</h2>
     <!--Filter:   <input type='text' ng-model='header.Place'>-->   
    <table class="table table-striped">
        <tr>
        <th ng-click="doSort('Title')">Title</th>   
        <th ng-click="doSort('Date')">Date</th>
        <th ng-click="doSort('Place')">Place</th>
        <th ng-click="doSort('Level')">Level</th>
        <th>&nbsp;</th>
        </tr> 
        <tr ng-repeat="eve in events | filter:header | orderBy:sortBy:reverse">
            <td>{{eve.Title}}</td>
            <td>{{eve.Date}}</td>
            <td>{{eve.Place}}</td>
            <td>{{eve.Level}}</td>
            <td><a href="#/details/{{eve.eveId}}">View Details</a></td>
        </tr>
        
    </table>